# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:warmhearted-labrador-595 # team: daina, project: next-tutorial

NEXT_PUBLIC_CONVEX_URL=https://warmhearted-labrador-595.convex.cloud

NEXT_PUBLIC_CONVEX_SITE_URL=https://warmhearted-labrador-595.convex.site

NEXT_PUBLIC_SITE_URL=http://localhost:3000